:root {
  --textColor: #FFFFFF;
  --titleColor: #FFFFFF;
  --linkColor: #FFFFFF;
  --hoverColor: #b2e7f5;
  --backgroundColor: #1A1D33;
  --backgroundSecondaryColor: #253063;
  --headerColor: #2a2352;
  --contentWidth: 80vw;
  --showcasePanelWidth: calc((var(--contentWidth) / 3) - 10px)
}

@media (max-width: 768px) {
  :root {
    --contentWidth: calc(100vw - 20px);
    --showcasePanelWidth: calc((var(--contentWidth) / 2) - 5px)
  }
}

@media (max-width: 1199px) and (min-width: 769px) {
  :root {
    --showcasePanelWidth: calc((var(--contentWidth) / 2) - 10px)
  }
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, var(--backgroundColor) 50%, var(--backgroundSecondaryColor) 90%);;
  color: var(--textColor);
}

main {
  width: var(--contentWidth);
  margin: auto;
}

nav {
    display: flex;
    align-items: center;
    background-color: var(--headerColor);
    width: 100%;
    height: 4rem;
    display: flex;
    border-width: 0px;
    gap: 10px;
    padding: 0px 5px;
}

#headerText {
  color: var(--textColor);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  font-size: 2rem;
  transition-duration: 300ms;
}

#headerText:hover {
  transition-duration: 300ms;
  font-size: 2.1rem;
  animation: 1s linear infinite colorPulse;
}

#logo {
    width: min(100px, 20%)
}

@keyframes colorPulse {
    0% {color: var(--textColor);}
    50% {color: var(--hoverColor);}
    100% {color: var(--textColor);}
}

.showcase {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px
}

.showcase::after {
  content: "";
  width: var(--showcasePanelWidth)
}

.showcaseElement {
  background-color: white;
  width: var(--showcasePanelWidth);
}

.showcaseElement img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.backgroundElements {
  pointer-events: none;
  overflow: hidden;
  z-index: -1;
  position: absolute;
  transform-origin: center;
  inset: 0;
}

#burst1 {
  left: calc(calc(100vw + 100vh) / -4);
  bottom: calc(calc(100vw + 100vh) / -4);
  width: calc(calc(100vw + 100vh) / 2);
  animation: rotateCW 150s linear infinite;
}

#burst2 {
  right: calc(calc(150vw + 150vh) / -4);
  bottom: calc(calc(150vw + 150vh) / -4);
  width: calc(calc(150vw + 150vh) / 2);
  animation: rotateCCW 130s linear infinite;
}

#burst3 {
  left: calc(calc(60vw + 60vh) / -4);
  bottom: calc(30vw - calc(calc(60vw + 60vh) / 4));
  width: calc(calc(60vw + 60vh) / 2);
  animation: rotateCCW 100s linear infinite;
}

.backgroundElements .burst {
  position: absolute;
  transform-origin: center;
}

@keyframes rotateCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateCCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@media (prefers-reduced-motion: reduce) {
  .burst {
    animation: none;
  }
}

