:root {
  --textColor: #FFFFFF;
  --titleColor: #FFFFFF;
  --linkColor: #FFFFFF;
  --hoverColor: #b2e7f5;
  --backgroundColor: #1A1D33;
  --backgroundSecondaryColor: #253063;
  --headerColor: #2a2352;
  --contentWidth: 70dvw;
  /*
  --showcasePanelWidth: calc((var(--contentWidth) / 3) - 10px);
  */
  --showcasePanelWidth: var(--contentWidth);
  --showcasePanelHeight: 70dvh;
}

@media (max-width: 800px) {
  :root {
    --contentWidth: calc(100% - 20px);
    --showcasePanelWidth: var(--contentWidth);
  }
  nav {
    visibility: hidden;
    width: 0;
  }
}

@media (min-width: 801px) {
  .headerInfo {
    width: var(--contentWidth);
    margin: auto;
  }
}

/*
@media (max-width: 1199px) and (min-width: 769px) {
  :root {
    --showcasePanelWidth: calc((var(--contentWidth) / 2) - 10px);
  }
}
  */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  color: var(--textColor);
  overflow-x: hidden;
}

.gradientBackground {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, var(--backgroundColor) 50%, var(--backgroundSecondaryColor) 90%);
}

main {
  width: var(--contentWidth);
  margin: auto;
}

#headshot {
  display: block;
  width: calc(60% - 20px);
  max-width: 400px;
  margin: 30px auto;
  border-radius: 20px;
  border: #FFFFFF 10px solid;
  outline: rgb(58, 100, 214) 10px solid;
}

header {
  background-color: var(--headerColor);
  position: sticky;  
  top: 0;
  z-index: 10;
}

.headerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-width: 0px;
  padding: 0px 5px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: start;
}

.bigHeader {
  font-size: 4rem;
  margin: 50px 5px 30px 5px;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  list-style: none;
  gap: 20px;
}

nav a {
  color: var(--textColor);
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  transition-duration: 300ms;
}

nav a:hover {
  transform: scale(1.1);
  animation: 1s linear infinite colorPulse;
}


#headerText {
  color: var(--textColor);
  display: inline-block;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  font-size: 2rem;
  transition-duration: 300ms;
}

#headerText:hover {
  transform: scale(1.1);
  animation: 1s linear infinite colorPulse;
}

#logo {
    width: 100px;
}

@keyframes colorPulse {
    0% {color: var(--textColor);}
    50% {color: var(--hoverColor);}
    100% {color: var(--textColor);}
}

.showcase {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 50px auto;
}

.showcase::after {
  content: "";
  width: var(--showcasePanelWidth)
}

.showcaseElementSmall {
  border: white;
  background-color: rgba(255, 255, 255, 0.15);
  width: var(--showcasePanelWidth);
  height: var(--showcasePanelHeight);
  border-radius: 10px;
  margin: 0px;
  margin-bottom: 30px;
}

.showcaseElementSmall > div > a > img {
  display: block;
  max-width: min(calc(var(--showcasePanelWidth) - 30px), 100%);
  max-height: calc(var(--showcasePanelHeight) - 100px);
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 30px;
}

.projectImages {
  max-height: calc(var(--showcasePanelHeight) - 100px);
  border-radius: 10px;
  margin-bottom: 30px;
}

.projectImages img {
  display: block;
  object-fit: contain;
  height: calc((var(--showcasePanelHeight) - 130px) / 2);
  max-width: min(calc(var(--showcasePanelWidth) - 30px), 100%);
  border-radius: 10px;
}

.projectDetails {
  display: flex;
  width: 100%;
  max-height: calc(var(--showcasePanelHeight) - 100px);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin: auto;
}

.projectDescription {
  max-width: calc(var(--showcasePanelWidth) / 2 - 100px);
  height: calc(var(--showcasePanelHeight) - 100px);
  padding: 0px 10px 10px 10px;
  font-size: 1.1rem;
}

.projectTitle {
  margin: 0px;
}

.projectTitle a {
  font-size: 3rem;
  margin: 10px 0px 10px 15px;
  display: inline-block;
  text-decoration: none;
  color: var(--textColor);
  transition: transform 200ms ease;
}


.projectTitle a:hover {
  transform: scale(1.05);
  animation: 1s linear infinite colorPulse;
}

.backgroundElements {
  inset: 0;
}

#burst1 {
  will-change: left, bottom, transform;
  left: calc(calc(100% + 100dvh) / -4);
  bottom: calc(calc(100% + 100dvh) / -4);
  width: calc(calc(100% + 100dvh) / 2);
  animation: rotateCW 150s linear infinite;
}

#burst2 {
  will-change: left, bottom, transform;
  right: calc(calc(150dvw + 150dvh) / -4);
  bottom: calc(calc(150dvw + 150dvh) / -4);
  width: calc(calc(150dvw + 150dvh) / 2);
  animation: rotateCCW 130s linear infinite;
}

#burst3 {
  will-change: left, bottom, transform;
  left: calc(calc(60dvw + 60dvh) / -4);
  bottom: calc(30dvw - calc(calc(60dvw + 60dvh) / 4));
  width: calc(calc(60dvw + 60dvh) / 2);
  animation: rotateCCW 100s linear infinite;
}

.backgroundElements .burst {
  position: fixed;
  transform-origin: center;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

@keyframes rotateCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateCCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }

  .projectTitle a:hover,
  #headerText:hover {
    color: var(--hoverColor);
    transform: none;
  }
}

