:root {
  --textColor: #FFFFFF;
  --titleColor: #FFFFFF;
  --linkColor: #FFFFFF;
  --hoverColor: #b2e7f5;
  --backgroundColor: #1A1D33;
  --backgroundSecondaryColor: #253063;
  --headerColor: #254099;
  --footerColor: #232044;
  --footerHeaderColor: #e0def5;
  --footerTextColor: #f7f6ff;
  --footerLinkColor: #df8ca1;
  --bottomTextColor: #3a316e;
  --contentWidth: 70dvw;
  /*
  --showcasePanelWidth: calc((var(--contentWidth) / 3) - 10px);
  */
  --showcasePanelWidth: var(--contentWidth);
  --showcasePanelHeight: 70dvh;
  --bigMargin: 30px;
  --borderCurve: 20px;
  --borderWidth: 10px;
}

@media (max-width: 800px) {
  :root {
    --contentWidth: calc(100% - 20px);
    --showcasePanelWidth: var(--contentWidth);
    --bigMargin: 5px;
    --borderCurve: 10px;
    --borderWidth: 5px;
  }
  nav {
    visibility: hidden;
    width: 0;
  }
  .footerShapes {
    height:0px;
    width: 0px;
    visibility: hidden;
  }

  .contactInfo {
    width: 80vw;
  }
}

@media (min-width: 801px) {
  .headerInfo {
    width: var(--contentWidth);
    margin: auto;
  }
}


/*
@media (max-width: 1199px) and (min-width: 769px) {
  :root {
    --showcasePanelWidth: calc((var(--contentWidth) / 2) - 10px);
  }
}
  */

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, Arial, sans-serif;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
}

body {
  color: var(--textColor);
  overflow-x: hidden;
}

body p {
  margin-left: 6px;
  font-size: clamp(13px, 2.5vw, 1.5rem);
  margin-bottom: 5px;
}

.introText p {
  font-size: clamp(13px, 3vw, 1.5rem);
  margin-bottom: 5px;
}

.gradientBackground {
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, var(--backgroundColor) 50%, var(--backgroundSecondaryColor) 90%);
}

main {
  width: var(--contentWidth);
  margin: auto;
}

#headshot {
  display: block;
  width: calc(60% - 20px);
  max-width: 500px;
  margin: calc(3 * var(--bigMargin)) auto 30px auto;
  border-radius: var(--borderCurve);
  border: #FFFFFF var(--borderWidth) solid;
  outline: rgb(58, 100, 214) var(--borderWidth) solid;
}

header {
  background-color: var(--headerColor);
  position: sticky;  
  top: 0;
  z-index: 10;
  overflow-x: hidden;
}

.headerInfo {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  border-width: 0px;
  padding: 0px 5px;
  justify-content: space-between;
}

.headerLeft {
  display: flex;
  align-items: center;
  justify-content: start;
}

.bigHeader {
  font-size: clamp(10px, 9vw, 4rem);
  margin: calc(var(--bigMargin) + 10px) 5px var(--bigMargin) 5px;
}

header nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
  list-style: none;
  gap: 20px;
}

nav a {
  color: var(--textColor);
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
  transition: transform 200ms ease;
}

nav a:hover {
  transform: scale(1.1);
  animation: 1s linear infinite colorPulse;
}


#headerText {
  color: var(--textColor);
  display: inline-block;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-family: Rubik, sans-serif;
  text-decoration: none;
  font-size: clamp(25px, 5vw, 2rem);
  transition: transform 200ms ease;
}

#headerText:hover {
  transform: scale(1.1);
  animation: 1s linear infinite colorPulse;
}

#logo {
    width: clamp(50px, 20vw, 100px);
    max-height: 50px;

}

@keyframes colorPulse {
    0% {color: var(--textColor);}
    50% {color: var(--hoverColor);}
    100% {color: var(--textColor);}
}

.showcase {
  width: 100%;
  margin: var(--bigMargin) auto;
}

.showcase::after {
  content: "";
  width: var(--showcasePanelWidth)
}

.showcaseElement {
  border: white;
  background-color: rgba(255, 255, 255, 0.15);
  width: var(--showcasePanelWidth);
  border: white var(--borderWidth) solid;
  border-radius: var(--borderCurve);
  margin: 0px auto;
  margin-bottom: var(--bigMargin);
  height: auto;
}

.showcaseElement * {
  padding: 0px;
  margin: 0px;
}

.projectImages {
  display:flex;
  flex-direction: column;
  align-items: center;
  max-height: calc(var(--showcasePanelHeight) - 100px);
  gap: var(--bigMargin);
  margin-bottom: var(--bigMargin);
}

.projectImages img {
  display: block;
  max-height: calc(var(--showcasePanelHeight) - 100px);
  max-width: calc(var(--showcasePanelHeight) - 100px); 
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  flex: 1 1 auto;
  min-height: 0px;
}

.projectDetails {
  display: flex;
  justify-content: center;
  width: calc(100% - 2 * var(--bigMargin));
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  gap: var(--bigMargin);
  margin-bottom: var(--bigMargin);
}

.projectVideo {
  width: clamp(0px, calc(100% - (2 * var(--bigMargin))), 50vh);
  margin: auto;
  object-fit: fill;
  aspect-ratio: 16/9;
  display: block;
  border-radius: var(--borderCurve);
}

.projectDescription {
  padding: 0px 10px 10px 10px;
  font-size: 1.1rem;
  flex: 1 1 350px;
}

.projectDescription p {
  margin-bottom: 10px;
}

.projectDescription p:first-of-type {
  margin-top: 10px;
}

.projectTitle {
  margin: 0px;
}

.bottomText {
  margin: 30px auto;
  color: var(--bottomTextColor);
  font-size: clamp(13px, 2vw, 1.2rem);
}

.projectTitle a {
  font-size: clamp(10px, 7vw, 3.2rem);
  margin: 10px 0px 10px 15px;
  display: inline-block;
  text-decoration: none;
  color: var(--textColor);
  transition: transform 200ms ease;
}


.projectTitle a:hover {
  transform: scale(1.05);
  animation: 1s linear infinite colorPulse;
}

footer {
  width: 100%;
  margin-top: calc(7 * var(--bigMargin));
  background: var(--footerColor);
  padding: var(--bigMargin);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerShapes {
  width: clamp(100px, 19vw, 200px);
}

footer * {
  margin-top: 0px;
  padding: 0px;
}

footer p {
  color:var(--footerTextColor);
  text-decoration: none;
}

footer a {
  color: var(--footerLinkColor);
}

#contactHeader {
  font-size: clamp(10px, 9vw, 5rem);
  color: var(--footerHeaderColor);
}

.contactInfo {
  margin: auto;
  text-align: left;
  display: inline-block;
}

.contactObject {
  flex: 1 1;
}

.backgroundElements {
  inset: 0;
}

#burst1 {
  will-change: left, bottom, transform;
  left: calc((130vw + 130dvh) / -4);
  bottom: calc((130vw + 130dvh) / -4);
  width: calc((130vw + 130dvh) / 2);
  animation: rotateCW 150s linear infinite;
}

#burst2 {
  will-change: left, bottom, transform;
  right: calc((170vw + 170dvh) / -4);
  bottom: calc((170vw + 170dvh) / -4);
  width: calc((170vw + 170dvh) / 2);
  animation: rotateCCW 130s linear infinite;
}

#burst3 {
  will-change: left, bottom, transform;
  left: calc((80vw + 80dvh) / -4);
  top: calc(((80vw + 80dvh) / -4 + 60vh));
  width: calc((80vw + 80dvh) / 2);
  animation: rotateCCW 100s linear infinite;
}

.backgroundElements .burst {
  position: fixed;
  transform-origin: center;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

@keyframes rotateCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes rotateCCW {
    from {transform: rotate(0deg);}
    to {transform: rotate(-360deg);}
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }

  .projectTitle a:hover,
  #headerText:hover {
    color: var(--hoverColor);
    transform: none;
  }
}

